/* Fonts being used by the oba */
@font-face {
    font-family: AvenirRoman;
    src: url(../font/Avenir-roman.ttf);
}

@font-face {
    font-family: AvenirMedium;
    src: url(../font/Avenir-medium.ttf);
}

@font-face {
    font-family: AvenirBlack;
    src: url(../font/Avenir\ -black.ttf);
}

h1 {
    width: 100%;
    text-align: center;
    margin: 50px 0;
    
}

.member-notification-count {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    position: relative;
    top: -120px;
    left: 80px;
    background: red;
}

body {
    background-color: #e9edfe;
}

main {
    padding: 2rem;
    background-color: white;
    margin: 1rem 2.5rem 2.5rem 2.5rem;
    border-radius: 15px;
    /* min-height: calc(100vh - 2rem); */
}

#family-name {
    color: red;
}

#current-user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-between;
    font-size: xx-large;
    font-family: AvernirRoman;
    text-decoration: none;
    color: black;
}

#current-user-profile img {
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 150px;
}

#members {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.member {
    max-width: 100px;
    max-height: 100px;
    background-color: white;
    border-radius: 50px;
}

.member-profile-picture {
    width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member-name {
    width: 100%;
    text-align: center;
    font-size: larger;
    margin: 0;
    margin-top: -40px;
}

.member-view {
    text-decoration: none;
    color: black;
}

a {
    size: 2;
}   